<!DOCTYPE html>
<html ng-app="myModule">
<head>
  <meta charset="utf-8">
  <Title>AngularJS</Title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  <script src="lib/angular/angular.min.js"></script>
  <!-- <script src="lib/angular/angular-route.min.js"></script> -->

  <script src="js/app.js"></script>
  <!-- <script src="js/controllers.js"></script> -->
</head>
<body ng-controller="myController">

<div class="container-fluid">
  <div class="row justify-content-around">
    <h1>Murder She Wrote Episode Display</h1>
    Select Season <select ng-model="season" ng-change="getSeason($event)">
        <option ng-repeat="number in seasons">{{number}}</option>
    </select>
    <!-- <form class="form-inline">
      <div class="form-group">
        <label>Search Titles</label>
        <input type="text" ng-model="episodes.Title" class="form-control" placeholder="Search Titles"></input>
      </div>
    </form>     -->
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Episode #</th>
        <th>Title</th>    
        <th>Release Date</th>  
        <th>IMDB Rating</th>  
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="episode in episodes">
        <td>{{ episode.Episode }}</td>
        <td>{{ episode.Title }}</td>
        <td>{{ episode.Released | date:"MM/dd/yyyy" }}</td>
        <td>{{ episode.imdbRating }}</td>
      </tr>
    </tbody>
  </table>
</div>

<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>